.App {
  text-align: center;
}

.App{
  background-color: #06080c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(212, 53, 53);
}
.formdis{
  background-color: blue;
}


